/*General settings*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/*Test*/

/*Navigation bar*/

.navbuttons {
  padding-left: 2rem;
  display: block;
  float: left;
  text-decoration: none;
}

.loginsignupbutton {
  display: block;
  float: right;
  margin-right: 20px;
  text-decoration: none;
}


.navbar {
  overflow: hidden;
  background-color: #17252A;
  padding: 0.8rem;

}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: #3AA7A9;
  box-shadow: inset 2px 2px 3px rgb(102, 102, 102);
  transition: 1s;
}

.dropdown:hover .dropbtn{
  background-color: #3AA7A9;
  box-shadow: inset 2px 3px rgb(102, 102, 102);
  transition: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #17252A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DEF2F1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider{
  padding: 5px;
  background-color: #3AAFA9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}







/*Claim form*/

.claimform {
  background-color: rgba(92, 92, 92, 0.467) ;
  width: 80%;
  height: auto;
  margin: 0 10% 0 10%;
}

.formbox {
  text-align: center;
  width: 80%;
  height: 50rem;
  margin: 0% 10% 0% 10%; 
  padding: 10px 0 0 0;
  background-color: rgba(38, 37, 37, 0.576);
}

/* Flip Cards */
.flip-card {
  display: inline-block;
  margin-right: 60px;
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px; 
  margin-left: 70px;

  
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}


.flip-card-front {
  background-color: #DEF2F1;
  color: #17252A;

}


.flip-card-back {
  background-color: #3AA7A9;
  color: white;
  transform: rotateY(180deg);
  
}

.card-text{
  margin: 25px;
  font-size: 20px;
}

.icon-img{
  width: 7rem;
  text-align: right;
  float: center;
  padding-left: 170px;
}

.card-title{
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}

.card-text-back{
  padding: 25px;
}

.card-section{
  padding-top: 30px;
  padding-bottom: 100px;
}

/* Home page title */


.home-page-section{
  text-align: center;
  padding: 341px;
  background-color: #9cdad6;
  animation: transform 1.5s;
}


@keyframes transform {
  from {padding: 0px; opacity: 0;}
  to {padding: 341px; opacity: 1;}
}

.home-title{
  font-size: 100px;
  color: #17252A;
  animation: home-title-animation 1.8s;
  text-shadow: 2px 4px 5px rgb(139, 139, 139);
}

.home-description{
  font-size: 20px;
  color: #3a3b3b;
  animation: home-desc-animation 2s;

}

@keyframes home-desc-animation{
  0% { opacity: 0;}
  70% {opacity: 0; transform: translateX(300px);}
  80% {opacity: 0; transform: translateX(100px);}
  100% {opacity: 1; transform: translateX(0px);}
}

@keyframes home-title-animation {
  0% {opacity: 0;}
  50% {opacity: 0; transform: translateY(-100px);}
  100% {opacity: 1; transform: translateY(0px);}
}

/* Footer */
.footer{
  padding: 100px;
  background-color: #17252A;
}