/*General settings*/

[class*="col-"] {
  width: 100%;
}

/*some changes...*/
body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

/******************************************************************************** navigation bar ******************************************************************************** */

.navbuttons {
  padding-left: 20rem;
  display: block;
  float: left;
  text-decoration: none;

}

.loginsignupbutton {
  display: block;
  float: right;
  margin-right: 10px;
  text-decoration: none;
}


.navbar {
  overflow: hidden;
  background-color: #1a67af;
  padding: 0.8rem 0.8rem 0 0.8rem;
  box-shadow: 2px 2px 3px rgb(102, 102, 102);

}

.navbar a {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.875rem 1rem 1rem;
  text-decoration: none;
  font-weight: 600;
}


.dropdown {
  float: left;
  overflow: hidden;

}



.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 0.875rem 1rem 1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 600;
  
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 2px 3px rgb(102, 102, 102);

}

.dropdown:hover .dropbtn{
  background-color: #2cc7f2;
  box-shadow: inset 2px 3px rgb(102, 102, 102);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #17252A;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DEF2F1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider{
  padding: 5px;
  background-color: #2cc7f2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.active-page{
  border-bottom: 5px solid #b7e5fa;

}

/******************************************************************************** view claims page ******************************************************************************** */

.viewClaim-body{
  background-color: #e5e2e2c4;
}

.view-claim-header{
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.new-claim{
  text-decoration: none;
  float: right;
  margin: -39px 50px 0px 0px;
  background-color: #5cb85c;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}

.claim-plus{
  width: 15px;
  padding: 0px 5px 0px 0px;
  margin: 0px 0px -3px 0px;
}

.filescontainer {
  display: inline-flex;
  flex-direction: row;
  float: left;
}

.files {
  width: 70px;
  height: 70px;
  padding: 30px 0px 0px 50px;
  
}

embed {
  overflow-x: hidden;
  overflow-y: hidden;
  width: auto;
  height: auto;
}

.claim-container{
  border-style: solid;
  border-width: 1px;
  border-color: #41424260;
  margin: 0px 100px 0px 100px;
  padding: 10px 0px 60px 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.main-claim-container{
  padding: 100px 100px 500px 100px;
  
  
}

.claim-text{
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 100px;
}

.claim-name{
  color: #17252A;
  font-size: 30px;
  padding-bottom: 5px;
}

.claim-amount{
  float: right;
  padding: 0px 40px 0px 0px;
  margin: -25px 40px 0px 0px;
  font-weight: 600;
  font-size: 30px;
  color: #17252A;

}

.view-button{
  margin: 0px 50px 0px 67px;
  padding: 3px 10px 3px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #1a67af;
  border-radius: 5px;
  color: #f0f0f0
}

.view-button:hover{
  background-color: #032a5094;
}

.claim-status-notApproved{
  background-color: rgba(255, 0, 0, 0.137);
  border-style: solid;
  border-color: red;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: red;
}

.claim-status-Approved{
  background-color: rgba(92, 184, 92, 0.178);
  border-style: solid;
  border-color: rgb(92, 184, 92);
  border-width: 0.5px;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: rgb(92, 184, 92);
}

.claim-purchaseplace{
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  margin: 20px 0px 0px 0px;
  color: #3a3b3bc2;
}

/*Claim form*/

.claimform {
  background-color: rgba(92, 92, 92, 0.467) ;
  width: 80%;
  height: auto;
  margin: 0 10% 0 10%;
}

.formbox {
  text-align: center;
  width: 80%;
  height: 50rem;
  margin: 0% 10% 0% 10%; 
  padding: 10px 0 0 0;
  background-color: rgba(38, 37, 37, 0.576);
}

/******************************************************************************** Home page ******************************************************************************** */

/* Flip Cards */



.flip-card {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  background-color: transparent;
  width: 30%;
  height: 300px;
  perspective: 1000px; 
  transform: translate(4%, 0%);
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  

}


.flip-card-front {
  background-color: #DEF2F1;
  color: #17252A;
  background-position: center;
}


.flip-card-back {
  background-color: #2cc7f2;
  color: white;
  transform: rotateY(180deg);
  
}

.card-text{
  margin: 25px;
  font-size: 20px;

  
}

.icon-img{
  width: 112px;
  text-align: right;
  float: center;
  padding-left: 170px;
  margin-bottom: 10px;

}

.FileShield{
  width: 112px;
  padding-left: 170px;
  float: center;

}

.card-title{
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}

.card-text-back{
  padding: 25px;
}

.card-section{
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  padding-top: 130px;
  padding-bottom: 100px;
}



/******************************************************************************** Home page title ******************************************************************************** */

.home-page-section{
  text-align: center;
  padding: 18.8%;
  background-image: url("/src/images/homepage-background.jpg");
  background-position-y: -85px;
  background-color: #9cdad6;
  animation: home-transform 1.5s;
}


@keyframes home-transform {
  0% {padding: 0px; opacity: 0;}
  100% {padding: 18.8%; opacity: 1;}
}

.home-title{
  font-size: 600%;
  color: #17252A;
  animation: home-title-animation 2s;
  text-shadow: 2px 4px 5px rgb(139, 139, 139);

}

.home-description{
  font-size: 150%;
  color: #3a3b3b;
  animation: home-desc-animation 2s;


}

@keyframes home-desc-animation{
  0% { opacity: 0; font-size: 0px;}
  70% {opacity: 0; transform: translateX(300px);}
  80% {opacity: 0; transform: translateX(100px);font-size: 20px;}
  100% {opacity: 1; transform: translateX(0px);}
}

@keyframes home-title-animation {
  0% {opacity: 0; font-size: 0px;}
  50% {opacity: 0; transform: translateY(-100px); font-size: 100px;}
  100% {opacity: 1; transform: translateY(0px);}
}

/* Footer */
.footer{
  padding: 50px;
  background-color: #17252A;
}


/* HOME MOBILE PAGE */

@media (max-width: 500px){
  
  .navbar {
    overflow: hidden;
    background-color: #8dd2eb;
    padding: 0.8rem;
  
  }
  
  .navbar a {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
  }
  
  
  .dropdown-content a {
    float: none;
    color: #17252A;
    padding: 12px 16px;
    text-align: left;

  }
  .flip-card{
    width: 250px;
    height: 200px;
    padding-bottom: 10px;
    padding-left: 4px;
    } 

    .card-text{
      padding: 2px;
    }
  
    .home-page-section{
      padding: 100px;
      background-position: left;
      animation: transform 1s;
    }

    @keyframes transform {
      from {padding: 0px; opacity: 0;}
      to {padding: 100px; opacity: 1;}
    }
  
    .home-description{
      font-size: 10px;
    }
 
    .home-title{
      font-size: 50px;
    }

    @keyframes home-title-animation {
      0% {opacity: 0;}
      50% {opacity: 0; transform: translateY(-100px);}
      100% {opacity: 1; transform: translateY(0px);}
    }

    @keyframes home-desc-animation{
      0% { opacity: 0;}
      70% {opacity: 0; transform: translateX(300px);}
      80% {opacity: 0; transform: translateX(100px);}
      100% {opacity: 1; transform: translateX(0px);}
    }

    .flip-card{
      transform: translate(20%, 0%);
    }

    .card-title{
      font-size: 30px;
      margin-top: 5px;
    }

    .icon-img{
      width: 70px;
      padding-left: 65px;
    }

    .FileShield{
      width: 70px;
      padding-left: 65px;
    }

    .card-text{
      font-size: 14px;
    }

    .flip-card-front{
      background-position: 10% 20%;
    }


}


/******************************************************************************** About page ******************************************************************************** */

.about-page{
  padding: 0px 0px 0px 0px;
  height: 845px;
  margin: 70px 300px 0px 300px;
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
  background-color: white;
  animation: about-page-transform 1s;
}

@keyframes about-page-transform{
  0% {height: 0px; margin-top:1000px;}
  60% {height: 0px;}
  100% {height: 845px; margin-top:70px}
}

.about-title{
  color: #17252A;
  padding: 70px 70px 30px 70px;
  font-size: 50px;
  animation: about-title-fadein 2.3s;
}

.about-body{
  background-image: url("/src/images/homepage-background.jpg");
  height: 1200px;
}

.about-text{
  padding: 0px 70px;
  color: #17252A;
  animation: about-text-fadein 2.3s;
}

@keyframes about-transform {
  from {margin-top: 1000px; opacity: 0;}
  to {margin-top: 70px; opacity: 1;}
}

@keyframes about-text-fadein{
  0% {opacity: 0; transform: translateX(50px);}
  60% {opacity: 0; transform: translateX(20px);}
  100% {opacity: 1; transform: translateX(0px);}
}

@keyframes about-title-fadein{
  0% {opacity: 0; transform: translateY(-50px);}
  50% {opacity: 0; transform: translateY(-20px);}
  100% {opacity: 1; transform: translateY(0px);}
}

.divider-bottom{
  margin: 0px 300px 0px 300px;
}

/* ABOUT MOBILE PAGE */

@media (max-width: 500px){

  .about-page{
    margin: 30px 30px 0px 30px;
    animation: about-page-transform 2s;
  }



  .about-text{
    padding: 0px 30px;
    animation: about-text-fadein 3s;
  }

  .about-title{
    font-size: 30px;
    padding: 30px 30px 20px 30px;
    animation: about-title-fadein 3s;
  }

  @keyframes about-transform{
    from {margin-top: 600px; opacity: 0;}
    to {margin-top: 30px; opacity: 1;}
  }

  @keyframes about-text-fadein{
    0% {opacity: 0; transform: translateX(50px);}
    60% {opacity: 0; transform: translateX(20px);}
    100% {opacity: 1; transform: translateX(0px);}
  }

  @keyframes about-title-fadein{
    0% {opacity: 0; transform: translateY(-50px);}
    50% {opacity: 0; transform: translateY(-20px);}
    100% {opacity: 1; transform: translateY(0px);}
  }

  .divider-bottom{
    margin: 0px 10px 0px 30px;
  }

}

/* login page */
.form-holder {
  margin-left: 550px;
  width: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
  min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder {
  color: #526489;
}

.form-holder .form-content :-moz-placeholder {
  color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
  color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
  color: #526489;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
  color: #526489;
}

.form-control :-moz-placeholder {
  color: #526489;
}

.form-control ::-moz-placeholder {
  color: #526489;
}

.form-control :-ms-input-placeholder {
  color: #526489;
}

.form-content {
  position: relative;
  background-color: #6ed5fe;
}

.form-content .form-group {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content .form-icon {
  text-align: center;
  width: 100%;
  line-height: 0;
  margin-top: calc(-42px - 35px);
  margin-bottom: 28px;
}

.form-content .form-icon .icon-holder {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 85px;
  padding: 20px;
}

.form-content .form-icon .icon-holder img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  margin-top: -23%;
  margin-left: -25%;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content h3.form-title-center {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content p.form-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.form-content small.error-message {
  color: lightcoral;
}

.form-content label {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.form-content .page-links {
  margin-bottom: 34px;
}

.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a.active {
  font-weight: 700;
}

.form-content .page-links a.active:after {
  background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
  background-color: #fff;
}

.form-content input, .form-content .dropdown-toggle.btn-default {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 14px;
}

.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.form-content .custom-file {
  margin-bottom: 14px;
}

.form-content .custom-file-label {
  position: absolute;
  padding: 9px 44px 9px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .custom-file-label:after {
  content: "\f382" !important;
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 600;
  padding: 0.475rem 0.75rem 0.375rem;
  color: #495057;
  background-color: transparent;
  border-left: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox], .form-content input[type=radio] {
  width: auto;
}

.form-content input[type=checkbox]:not(:checked), .form-content input[type=checkbox]:checked, .form-content input[type=radio]:not(:checked), .form-content input[type=radio]:checked {
  position: absolute;
  left: -9999px;
}

.form-content input[type=checkbox]:not(:checked) + label, .form-content input[type=checkbox]:checked + label, .form-content input[type=radio]:not(:checked) + label, .form-content input[type=radio]:checked + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-content input[type=checkbox]:checked + label, .form-content input[type=radio]:checked + label {
  color: #fff;
}

.form-content input[type=checkbox]:checked + label:before, .form-content input[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50px;
  border: 0px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox]:not(:checked) + label:before, .form-content input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox]:not(:checked) + label:after, .form-content input[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.form-content input[type=checkbox]:disabled + label, .form-content input[type=radio]:disabled + label {
  opacity: 0.6;
}



.form-content input[type=checkbox]:checked + label:before {
  border-radius: 4px;
}

.form-content input[type=checkbox]:not(:checked) + label:before {
  border-radius: 4px;
}

.form-content input[type=radio]:checked + label:after, .form-content input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: #0093FF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-content .custom-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form-content .custom-options input[type=checkbox], .form-content .custom-options input[type=radio] {
  width: auto;
}

.form-content .custom-options input[type=checkbox]:not(:checked), .form-content .custom-options input[type=checkbox]:checked, .form-content .custom-options input[type=radio]:not(:checked), .form-content .custom-options input[type=radio]:checked {
  position: absolute;
  left: -9999px;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label, .form-content .custom-options input[type=checkbox]:checked + label, .form-content .custom-options input[type=radio]:not(:checked) + label, .form-content .custom-options input[type=radio]:checked + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  display: inline;
  color: #606060;
  background-color: #F7F7F7;
  font-size: 13px;
  font-weight: 400;
  margin-left: 0;
  border-radius: 5px;
  padding: 4px 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: 1;
  text-align: center;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:last-child, .form-content .custom-options input[type=checkbox]:checked + label:last-child, .form-content .custom-options input[type=radio]:not(:checked) + label:last-child, .form-content .custom-options input[type=radio]:checked + label:last-child {
  margin-right: 0;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:after, .form-content .custom-options input[type=checkbox]:checked + label:after, .form-content .custom-options input[type=radio]:not(:checked) + label:after, .form-content .custom-options input[type=radio]:checked + label:after {
  display: none;
}

.form-content .custom-options input[type=checkbox]:checked + label, .form-content .custom-options input[type=radio]:checked + label {
  color: #fff;
  background-color: #57D38C;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
  box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
}

.form-content .custom-options input[type=checkbox]:checked + label:before, .form-content .custom-options input[type=radio]:checked + label:before {
  display: none;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:before, .form-content .custom-options input[type=radio]:not(:checked) + label:before {
  display: none;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:after, .form-content .custom-options input[type=radio]:not(:checked) + label:after {
  display: none;
}

.form-content .form-button {
  margin-top: 30px;
  margin-bottom: 25px;
}

.form-content .form-button .ibtn {
  border-radius: 6px;
  border: 0;
  padding: 15px 28px;
  background-color: #fff;
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn.ibtn-full {
  width: 100%;
}

.form-content .form-button .ibtn:last-child {
  margin-right: 0;
}

.form-content .form-button .ibtn:hover, .form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.form-content form {
  margin-bottom: 30px;
}



.form-body{
  margin-right:26%;
  background-image:url("/src/images/img1.jpg");
  
}

