/*General settings*/

[class*="col-"] {
  width: 101%;
}

/*some changes...*/
body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

/******************************************************************************** navigation bar ******************************************************************************** */

.navbuttons {
  padding-left: 20rem;
  display: block;
  float: left;
  text-decoration: none;

}

.loginsignupbutton {
  display: block;
  float: right;
  margin-right: 10px;
  text-decoration: none;
}


.navbar {
  overflow: hidden;
  background-color: #1a67af;
  padding: 0.8rem 0.8rem 0 0.8rem;
  box-shadow: 2px 2px 3px rgb(102, 102, 102);


}

.navbar a {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.875rem 1rem 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.6s;
  
}


.dropdown {
  float: left;
  overflow: hidden;

}



.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 0.875rem 1rem 1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 600;
  transition: 0.6s;
}

.navbar a:hover {
  transition: 0.6s;
  background-color: #224a6e9f;

}

.dropdown:hover .dropbtn{
  background-color: #224a6e9f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #17252A;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DEF2F1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider{
  padding: 5px;
  background-color: #2cc7f2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.active-page{
  border-bottom: 5px solid #2cc7f2;

}

/******************************************************************************** view claims page ******************************************************************************** */

.viewClaim-body{
  background-color: #e5e2e2c4;
}

.no-new-claims{
  font-size: 50px;
  font-weight: 700;
  color: #3a3b3b;
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.2);
  z-index: 20;
  width: 20%;
  margin: 0px 0px 0px 40%;
  position: relative;
  text-align: center;
  
}


.view-claim-header{
  padding: 30px;
  background-color: #fafafa;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  animation: header-collapse 0.4s;
}

@keyframes header-collapse {
  0% { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);}
  100% {}
}

.main-claim-container{
  padding: 100px 100px 800px 100px;
  animation: content-fadein 0.7s;  
}



.new-claim{
  text-decoration: none;
  float: right;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.2);
  margin: -45px 50px 0px 0px;
  background-color: #5cb85c;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease-out;
}

.new-claim:hover{
  background-color: #4b9e4b;
  transition: 0.3s ease-out;
}

.claim-plus{
  width: 15px;
  padding: 0px 5px 0px 0px;
  margin: 0px 0px -3px 0px;
}

.filescontainer {
  display: inline-flex;
  flex-direction: row;
  float: left;
  padding: 0px 0px 4px 0px;
  box-sizing: border-box;
  width: 170px;
  overflow-x: auto;
  white-space: nowrap;
}

.filescontainer::-webkit-scrollbar{
  background: rgba(117, 178, 228, 0.527);
  border-radius: 8px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.filescontainer::-webkit-scrollbar-thumb{
  background: #727272ad;
  border-radius: 8px;
  background-clip: content-box;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,
  0.5); 
  border: 5px solid transparent;
  
}

.files {
  width: 70px;
  height: 70px;
  padding: 30px 0px 0px 50px;
}

embed {
  overflow-x: hidden;
  overflow-y: hidden;
  width: auto;
  height: auto;
}

.claim-container{
  border-style: solid;
  border-width: 1px;
  border-color: #41424260;
  margin: 0px 100px 0px 100px;
  padding: 10px 0px 60px 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}


.collapse-btn{
  float: right;
  padding: 10px 14px 10px 15px;
  margin: -150px 15px 0px 0px;
  border: none;
  background-color: #ffffff;
  transition: 0.2s;
}

.collapsible{
  margin: 60px 0px 0px 0px;
}

.collapse-btn:hover{
  background-color: #6e727525;
  border-radius: 25px;
  transition: 0.2s;
}

.content{
  margin: 0px 0px 0px 50px;
  padding: 0px 0px 0px 0px;

}



.claim-text{
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 100px;
}

.claim-name{
  color: #17252A;
  font-size: 30px;
  padding-bottom: 5px;
}

.claim-amount{
  float: right;
  padding: 0px 40px 0px 0px;
  margin: -25px 40px 0px 0px;
  font-weight: 600;
  font-size: 30px;
  color: #17252A;

}

.view-button{
  margin: 0px 50px 0px 67px;
  padding: 3px 10px 3px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #1a67afd8;
  border-radius: 5px;
  color: #f0f0f0;
  transition: 0.3s;
}

.view-button:hover{
  background-color: #032a5094;
}

.claim-status-pending{
  background-color: rgba(255, 136, 0, 0.137);
  border-style: solid;
  border-color: rgb(255, 136, 0);
  border-width: 0.5px;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: rgb(255, 136, 0);
}

.claim-status-rejected{
  padding: 4px;
  background-color: rgba(255, 0, 0, 0.137);
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-width: 0.5px;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(255, 0, 0);
}

.claim-status-Approved{
  background-color: rgba(92, 184, 92, 0.178);
  border-style: solid;
  border-color: rgb(92, 184, 92);
  border-width: 0.5px;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: rgb(92, 184, 92);
}

.claim-purchaseplace{
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  margin: -27px 7px 0px 0px;
  float: right;
  color: #3a3b3bc2;
}

/*Claim form*/

.addClaim-body{
  background-image:  url("/src/images/homepage-background.jpg");
}

.add-claim{
  margin:2%;
}


.claimform {
  background-color: rgba(92, 92, 92, 0.467) ;
  width: 80%;
  height: auto;
  margin: 0 10% 0 10%;
}

.formbox {
  text-align: center;
  width: 80%;
  height: 50rem;
  margin: 0% 10% 0% 10%; 
  padding: 10px 0 0 0;
  background-color: rgba(38, 37, 37, 0.576);
}

.amount {
  border-radius:6px;
  height:5%;
}
.mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    color:black;
}

.card {
  border-radius: 5px;
	width: 60rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    animation: pop-up 1s;
    
}

@keyframes pop-up{
  0%{transform: translateY(200%)}
  100%{transform: translateY(0%)}
}

.leftside {
  color: white;
  font-size: 400%;
	background: linear-gradient(
      135deg
      , #22d7e4 0%, #0093FF 100%);
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.leftside-secondary{
  font-size: 20px;
  position: absolute;
  margin: 100px 0px 0px 0px;
  opacity: 80%;
}

.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    
}

.rightside {
    background-color: #ffffff;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.addClaim-button{
  background-color: #1a67af;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:50%;
    outline:none;
    box-shadow: 3px 3px 6px #38373785;
    transition: 1s;
}

.addClaim-button:disabled{
  background-color: #0c2d4b3f;
  box-shadow: 0px 0px 0px #38373785;
}

.addClaim-button:disabled:hover{
  background-color: #0c2d4b3f;
  box-shadow: 0px 0px 0px #38373785;
}

.addClaim-button:hover
{
	background-color: #0c2d4b;
    
}

@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}

/* add claim page */

/******************************************************************************** Home page ******************************************************************************** */

/* Flip Cards */



.flip-card {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  background-color: transparent;
  width: 30%;
  height: 300px;
  perspective: 1000px; 
  transform: translate(4%, -5%);
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  

}


.flip-card-front {
  background-color: #DEF2F1;
  color: #17252A;
  background-position: center;
}


.flip-card-back {
  background-color: #2cc7f2;
  color: white;
  transform: rotateY(180deg);
  
}

.card-text{
  margin: 25px;
  font-size: 100%;

}

.icon-img{
  align-items: center;
  width: 112px;

  margin: 0px 0px 0px 37%;

}

.FileShield{
  width: 112px;
  margin: 0px 0px 0px 37%;
  float: center;

}

.card-title{
  text-align: center;
  margin-top: 40px;
  font-size: 230%;
}

.card-text-back{
  padding: 25px;
}

.card-section{
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  padding-top: 130px;
  padding-bottom: 100px;
}



/******************************************************************************** Home page title ******************************************************************************** */

.home-page-section{
  text-align: center;
  padding: 18.8%;
  background-image: url("/src/images/homepage-background.jpg");
  background-position-y: -85px;
  background-color: #9cdad6;
  animation: home-transform 1.5s;
}


@keyframes home-transform {
  0% {padding: 0px; opacity: 0;}
  100% {padding: 18.8%; opacity: 1;}
}

.home-title{
  font-size: 600%;
  color: #17252A;
  animation: home-title-animation 2s;
  text-shadow: 2px 4px 5px rgb(139, 139, 139);

}

.home-description{
  font-size: 150%;
  color: #3a3b3b;
  animation: home-desc-animation 2s;


}

@keyframes home-desc-animation{
  0% { opacity: 0; font-size: 0px;}
  70% {opacity: 0; transform: translateX(300px);}
  80% {opacity: 0; transform: translateX(100px);font-size: 20px;}
  100% {opacity: 1; transform: translateX(0px);}
}

@keyframes home-title-animation {
  0% {opacity: 0; font-size: 0px;}
  50% {opacity: 0; transform: translateY(-100px); font-size: 100px;}
  100% {opacity: 1; transform: translateY(0px);}
}

/* Footer */
.footer{
  padding: 50px;
  background-color: #17252A;
}


/* HOME MOBILE PAGE */

@media (max-width: 500px){
  
  .navbar {
    overflow: hidden;
    background-color: #8dd2eb;
    padding: 0.8rem;
  
  }
  
  .navbar a {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
  }
  
  
  .dropdown-content a {
    float: none;
    color: #17252A;
    padding: 12px 16px;
    text-align: left;

  }
  .flip-card{
    width: 250px;
    height: 200px;
    padding-bottom: 10px;
    padding-left: 4px;
    } 

    .card-text{
      padding: 2px;
    }
  
    .home-page-section{
      padding: 100px;
      background-position: left;
      animation: transform 1s;
    }

    @keyframes transform {
      from {padding: 0px; opacity: 0;}
      to {padding: 100px; opacity: 1;}
    }
  
    .home-description{
      font-size: 10px;
    }
 
    .home-title{
      font-size: 50px;
    }

    @keyframes home-title-animation {
      0% {opacity: 0;}
      50% {opacity: 0; transform: translateY(-100px);}
      100% {opacity: 1; transform: translateY(0px);}
    }

    @keyframes home-desc-animation{
      0% { opacity: 0;}
      70% {opacity: 0; transform: translateX(300px);}
      80% {opacity: 0; transform: translateX(100px);}
      100% {opacity: 1; transform: translateX(0px);}
    }

    .flip-card{
      transform: translate(20%, 0%);
    }

    .card-title{
      font-size: 30px;
      margin-top: 5px;
    }

    .icon-img{
      width: 70px;
      padding-left: 65px;
    }

    .FileShield{
      width: 70px;
      padding-left: 65px;
    }

    .card-text{
      font-size: 14px;
    }

    .flip-card-front{
      background-position: 10% 20%;
    }


}


/******************************************************************************** About page ******************************************************************************** */

.about-page{
  margin: 7% 13% 7%;
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
  background-color: white;
  animation: about-page-transform 1s;
}

@keyframes about-page-transform{
  0% {margin-top:1000px;}
  100% {margin-top:150px}
}

.about-title{
  color: #17252A;
  padding: 70px 70px 30px 70px;
  font-size: 50px;
  animation: about-title-fadein 3s;
}

.about-body{
  background-image: url("/src/images/homepage-background.jpg");
  height: 5000px;
}

.about-border{
  margin: 10%;
  border: darkcyan;
  border-left: 1em;
  border-right: 1em;
  border-style: dashed;
}

.about-border-2{
  justify-content: center;
  margin: 80px 150px 80px;
  display: flex;
  flex-direction: row;
}

.about-border-2-text{
  margin: 12% 5% 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.about-border-2 img{
  width: 350px;
}

.about-text{
  margin: 5% 0 5% 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding: 0px 70px;
  color: #17252A;
  animation: about-text-fadein 2.3s;
}

.htu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7% 7% 0% 7%;
}

.htu-container img{
  pointer-events: none;
}

.htu-image-container {
  width: 50%;
  min-height: 280px;
  max-height: 416px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F1F1F1;
  margin: 0 8px;
  border-radius: 32px;
}

.htu-image {
  width: 75%;
}

.htu-text {
  width: 50%;
  margin: auto 8px;
}


.separator {
  margin: 50px 0;
}

.how-to-use{
  display: flex;
  flex-direction: row;
  animation: about-text-fadein 2.3s;
}

.htu-text-con{
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  animation: about-text-fadein 2.3s;
}

.arrow {
  pointer-events: none;
  width: 50px;
  height: 50px;
  align-self: center;
}

.down {
  transform: rotate(90deg);
}

.features-container{
  margin: 40px 70px 40px;
}

.features-list li{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 500;
  background: url('images/tick1.png') no-repeat left top;
  list-style: none;
  padding: 20px 70px 50px;
}

/* ABOUT MOBILE PAGE */

@media (max-width: 500px){

  .about-page{
    margin: 30px 30px 0px 30px;
    animation: about-page-transform 2s;
  }



  .about-text{
    padding: 0px 30px;
    animation: about-text-fadein 3s;
  }

  .about-title{
    font-size: 30px;
    padding: 30px 30px 20px 30px;
    animation: about-title-fadein 3s;
  }

  @keyframes about-transform{
    from {margin-top: 600px; opacity: 0;}
    to {margin-top: 30px; opacity: 1;}
  }

  @keyframes about-text-fadein{
    0% {opacity: 0; transform: translateX(50px);}
    60% {opacity: 0; transform: translateX(20px);}
    100% {opacity: 1; transform: translateX(0px);}
  }

  @keyframes about-title-fadein{
    0% {opacity: 0; transform: translateY(-50px);}
    50% {opacity: 0; transform: translateY(-20px);}
    100% {opacity: 1; transform: translateY(0px);}
  }

  .divider-bottom{
    margin: 0px 10px 0px 30px;
  }

}

/* login page */

.login-body{
  background-image: url("/src/images/homepage-background.jpg");

}

.form-holder {
  margin: 0px 0px 0px 30%;
  animation: form-holder-transform 1s;
}

@keyframes form-holder-transform {
  0%{margin-left: 0px;}
  0% {margin-left:0px}
  100%{margin-left: 30%;}
}

@keyframes form-items-fadein{
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.form-items{
  animation: form-items-fadein 1.2s;
}

.form-content {
	background: linear-gradient(
      135deg
      , #22d7e4 0%, #0093FF 100%);
}

.form-body{
  background-repeat: no-repeat;
  background-image:url("/src/images/img1.jpg");

}


.form-holder .form-content {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
  min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder {
  color: #526489;
}

.form-holder .form-content :-moz-placeholder {
  color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
  color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
  color: #526489;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
  color: #526489;
}

.form-control :-moz-placeholder {
  color: #526489;
}

.form-control ::-moz-placeholder {
  color: #526489;
}

.form-control :-ms-input-placeholder {
  color: #526489;
}

.form-content .form-group {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content .form-icon {
  text-align: center;
  width: 100%;
  line-height: 0;
  margin-top: calc(-42px - 35px);
  margin-bottom: 28px;
}

.form-content .form-icon .icon-holder {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 85px;
  padding: 20px;
}

.form-content .form-icon .icon-holder img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  margin-top: -23%;
  margin-left: -25%;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content h3.form-title-center {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content p.form-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.form-content small.error-message {
  color: lightcoral;
}

.form-content label {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.form-content .page-links {
  margin-bottom: 34px;
}

.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .page-links a.active {
  font-weight: 700;
}

.form-content .page-links a.active:after {
  background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
  background-color: #fff;
}

.form-content input, .form-content .dropdown-toggle.btn-default {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 14px;
}

.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.form-content .custom-file {
  margin-bottom: 14px;
}

.form-content .custom-file-label {
  position: absolute;
  padding: 9px 44px 9px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .custom-file-label:after {
  content: "\f382" !important;
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 600;
  padding: 0.475rem 0.75rem 0.375rem;
  color: #495057;
  background-color: transparent;
  border-left: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox], .form-content input[type=radio] {
  width: auto;
}

.form-content input[type=checkbox]:not(:checked), .form-content input[type=checkbox]:checked, .form-content input[type=radio]:not(:checked), .form-content input[type=radio]:checked {
  position: absolute;
  left: -9999px;
}

.form-content input[type=checkbox]:not(:checked) + label, .form-content input[type=checkbox]:checked + label, .form-content input[type=radio]:not(:checked) + label, .form-content input[type=radio]:checked + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-content input[type=checkbox]:checked + label, .form-content input[type=radio]:checked + label {
  color: #fff;
}

.form-content input[type=checkbox]:checked + label:before, .form-content input[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50px;
  border: 0px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox]:not(:checked) + label:before, .form-content input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type=checkbox]:not(:checked) + label:after, .form-content input[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.form-content input[type=checkbox]:disabled + label, .form-content input[type=radio]:disabled + label {
  opacity: 0.6;
}



.form-content input[type=checkbox]:checked + label:before {
  border-radius: 4px;
}

.form-content input[type=checkbox]:not(:checked) + label:before {
  border-radius: 4px;
}

.form-content input[type=radio]:checked + label:after, .form-content input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: #0093FF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-content .custom-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form-content .custom-options input[type=checkbox], .form-content .custom-options input[type=radio] {
  width: auto;
}

.form-content .custom-options input[type=checkbox]:not(:checked), .form-content .custom-options input[type=checkbox]:checked, .form-content .custom-options input[type=radio]:not(:checked), .form-content .custom-options input[type=radio]:checked {
  position: absolute;
  left: -9999px;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label, .form-content .custom-options input[type=checkbox]:checked + label, .form-content .custom-options input[type=radio]:not(:checked) + label, .form-content .custom-options input[type=radio]:checked + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  display: inline;
  color: #606060;
  background-color: #F7F7F7;
  font-size: 13px;
  font-weight: 400;
  margin-left: 0;
  border-radius: 5px;
  padding: 4px 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: 1;
  text-align: center;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:last-child, .form-content .custom-options input[type=checkbox]:checked + label:last-child, .form-content .custom-options input[type=radio]:not(:checked) + label:last-child, .form-content .custom-options input[type=radio]:checked + label:last-child {
  margin-right: 0;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:after, .form-content .custom-options input[type=checkbox]:checked + label:after, .form-content .custom-options input[type=radio]:not(:checked) + label:after, .form-content .custom-options input[type=radio]:checked + label:after {
  display: none;
}

.form-content .custom-options input[type=checkbox]:checked + label, .form-content .custom-options input[type=radio]:checked + label {
  color: #fff;
  background-color: #57D38C;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
  box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
}

.form-content .custom-options input[type=checkbox]:checked + label:before, .form-content .custom-options input[type=radio]:checked + label:before {
  display: none;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:before, .form-content .custom-options input[type=radio]:not(:checked) + label:before {
  display: none;
}

.form-content .custom-options input[type=checkbox]:not(:checked) + label:after, .form-content .custom-options input[type=radio]:not(:checked) + label:after {
  display: none;
}

.form-content .form-button {
  margin-top: 30px;
  margin-bottom: 25px;
}

.form-content .form-button .ibtn {
  border-radius: 6px;
  border: 0;
  padding: 15px 28px;
  background-color: #fff;
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn.ibtn-full {
  width: 100%;
}

.form-content .form-button .ibtn:last-child {
  margin-right: 0;
}

.form-content .form-button .ibtn:hover, .form-content .form-button .ibtn:focus {
  background-color: rgba(255, 255, 255, 0.685);
}

.form-content form {
  margin-bottom: 30px;
}



/* .form-body{
  
  background-image:url("/src/images/img1.jpg");
} */

/* reset page */

.form-container {
  background-color: #31a8ff;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-container .form-wrap {
  background: #fff;
  width: 20%;
  padding: 15px 20px;
  border-radius: 10px;
}

.form-container .form-wrap h2 {
  text-align: center;
  margin: 0px 0px 20px;
  font-size: 19px;
}

.form-container .form-wrap .form-box {
  margin: 0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"]{
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #353535;
  width: 95%;
}

.form-container .form-wrap .form-submit {
  display: flex;
  justify-content: center;
}


.form-container .form-wrap .form-submit input[type="submit"] {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background: #353535;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  font-size: 16px;
}

/* end reset page */

/*manager view claims page*/

.pendingClaim-body{
  background-color: #e5e2e2c4;
}

.ManagerClaim{
  background-color : #e5e2e2c4;
  animation: content-fadein 0.7s;  
  border-style: solid;
  border-width: 1px;
  border-color: #41424260;
  margin: 0 15% 0 15%;
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.main-Pendingclaim-container{
  padding: 100px 100px 800px 100px;
}

.ClaimApprove{
  padding: 30px;
  background-color: #fafafa;
  /*box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);*/
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.MainClaim2{
  /*padding: 50px 100px 800px 50px;
  animation: content-fadein 0.7s;  
  border-style: solid;
  border-width: 1px;
  border-color: #41424260;
  margin: 0px 100px 0px 100px;
  padding: 5px 0px 5px 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);*/
  margin-bottom: 0px;
  /*height: 90px;*/

}

.filescontainer1{
  display: inline-flex;
  flex-direction: row;
  float: left;
  padding: 0px 0px 4px 0px;
  padding-top: 0px;
  box-sizing: border-box;
  width: 170px;
  margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

.filescontainer1::-webkit-scrollbar{
  background: rgba(117, 178, 228, 0.527);
  border-radius: 8px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.filescontainer1::-webkit-scrollbar-thumb{
  background: #727272ad;
  border-radius: 8px;
  background-clip: content-box;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,
  0.5); 
  border: 5px solid transparent;
  
}

.collapsible2{
  margin: -80px 0px 0px 0px;
}

.collapse-btn2{
  float: right;
  padding: 10px 14px 10px 15px;
  margin: -150px 15px 0px 0px;
  border: none;
  background-color: #ffffff;
  transition: 0.2s;
}

.collapse-btn2:hover{
  background-color: #6e727525;
  border-radius: 25px;
  transition: 0.2s;
}

.content2{
  margin: 0px 0px 0px 50px;
  padding: 0px 0px 0px 0px;
  animation: content-fadein 0.5s;

}

.finalchoiceApprove{
  margin-left: 40%;
  margin-right: 5px;
  margin-top: 0px; 
  padding: 20px 40px 20px 40px;
  background-color: rgba(92, 184, 92, 0.178);
  border-style: solid;
  border-color: rgb(92, 184, 92);
  border-width: 0.5px;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(92, 184, 92);
  width: 150px;
  margin-bottom: 7px;
  cursor: pointer;
  transition: 0.3s;
  
}



.finalchoiceReject{
  background-color: rgba(255, 0, 0, 0.137);
  border-style: solid;
  border-color: rgb(255, 0, 0);
  border-width: 0.5px;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(255, 0, 0);
  width: 100px;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  transition: 0.3s;
}

.finalchoiceReject:hover{
  background-color: rgba(255, 0, 0, 0.486);
  color: white;
}

.finalchoiceApprove:hover{
  background-color: rgba(92, 184, 92, 0.548);
  color: white;
}

.MainClaim1{
  /*padding: 100px 100px 800px 100px;*/
  animation: content-fadein 0.7s;  
  /*border-style: solid;
  border-width: 1px;
  border-color: #41424260;*/
  /*margin: 0px 100px 0px 100px;*/
  /*padding: 10px 0px 60px 0px;*/
  background-color: #ffffff;
  /*box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);*/
}



.claim-amount1{
  float: right;
  /*padding: 0px 40px 0px 0px;
  
  margin: -25px 40px 0px 0px;*/
  /*padding-right: 50px;
  /*margin-top: 100px;
  /*margin-right: 50px;*/
  margin-top: 60px;
  /*padding-bottom: 5px;*/
  padding-right: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #17252A;
}

.claim-name1{
  color: #17252A;
  font-size: 20px;
  font-weight: 600;
  float: left;
  /*padding-bottom: 5px;
  /*padding-left: 200px;*/
  /*margin-bottom: px;*/
  margin-top: 60px;
}













